@model SegmentModel

<input asp-for="Id" type="hidden" />

<div class="panel-body">
    <div class="sub-panel">
        @if (Model.Id > 0)
        {
            @await Html.PartialAsync("Table", new DataTablesModel
           {
               Name = "ProductSpecificationAttributes-grid",
               UrlRead = new DataUrl("ProductSpecificationAttributeList", "ProductSegment", new RouteValueDictionary
               {
                   [nameof(Model.ProductSegmentSearchModel.ProductSegmentId)] = Model.Id
               }),
               SearchButtonId = "search-ProductSpecificationAttributes",
               Length = Model.ProductSegmentSearchModel.PageSize,
               LengthMenu = Model.ProductSegmentSearchModel.AvailablePageSizes,
               ColumnCollection = new List<ColumnProperty>
                    {
                        new ColumnProperty(nameof(ProductSpecificationAttributeModel.AttributeName))
                        {
                            Title = T("Plugins.PDD.ProductManagement.Products.Fields.Name").Text
                        },
                        new ColumnProperty(nameof(ProductSpecificationAttributeModel.Id))
                        {
                            Title = T("Admin.Common.View").Text,
                            Width = "100",
                            ClassName = NopColumnClassDefaults.Button,
                            Render = new RenderButtonEdit(new DataUrl("~/Admin/SpecificationAttribute/Edit/", nameof(ProductSpecificationAttributeModel.Id)))
                        },
                        new ColumnProperty(nameof(ProductSpecificationAttributeModel.Id))
                        {
                            Title = T("Plugins.PDD.ProductManagement.ProductSpecificationAttributes.Button.Add").Text,
                            Width = "100",
                            ClassName = NopColumnClassDefaults.Button,
                            Render = new RenderCustom("renderColumnAddToProductSpecAttribute")
                        }
                    }
           });
        }
        else
        {
            @T("Plugins.PDD.ProductManagement.Segment.Tab.ProductAttributes.Message")
        }
        <script>
            function renderColumnAddToProductSpecAttribute(data, type, row, meta) {
                return '<a class="btn btn-default"  href="@Url.Content("~/Admin/ProductSegment/AddSpecificationAttributeToProduct?productSegmentId="+ Model.Id+ "&productSpecificationId=")' + row.Id + '"><i class="fa fa-plus-square"></i>@T("Plugins.PDD.ProductManagement.ProductSpecificationAttributes.Button.Add")</a>';
            }
        </script>
    </div>
</div>